* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    min-height: 10vh;
}
.top{
    display: flex;
    background-image: linear-gradient(to right, #66D3FC, #DCFAFF);
    width: vw;
    height: 60px;
    align-content: center;
}
.Btn_login {
    height: 60px;
    width: 80px;
}

.Btn_menu{
    background-color: #0000;
    border: 0px;
    size: 50%;
}
