body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginBox {
  display: flex;
  text-align: center;
  width: 450px;
  height: 600px;
  background-image: linear-gradient(#99e0fa, #dbf5fa);
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
}
